*{
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}

a{
    color: white;
    opacity: 0.4;
    text-decoration: none;
}


body{
    width: 100%;
    background-size: contain;
    color: #3B6D54;
    background-color: rgb(219, 216, 214);
    
}

header{
    height: 70px;
    padding: 10px;
    display: flex;
    align-items: center;
    background-color: rgb(31, 31, 82);
    justify-content: center;

}

#title{
    color: white;
    font-family: monospace;
    position: relative;
    display: block;
    cursor: default;
}

#links nav{
    width: 100%;
    padding: 10px 0;
    background-color: rgb(29, 89, 69);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}


a:hover{
    text-decoration: dotted;
    opacity: 1;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#image_container{
    width: 400px;
}

#tryber{
    width: 100%;
    border-radius: 10px;
    box-shadow: 3px 5px rgb(42, 62, 39), 5px 10px 4px rgb(17, 32, 20);
    
}

#tryber:hover{
    cursor: pointer;
}

#list-info{
    padding: 10px;
    margin-right: 200px;
}

#list-info ul{
    margin: 20px;
}

#list-info ul li{
    margin: 5px;
}

#conselho{
    text-align: center;
    margin-top: 50px;
}

#dark{
    width: 50px;
    opacity: 0.5;
    cursor: pointer;
}

#dark:hover{
    opacity: 1;
}

@media screen and (max-width:707px) {
    .aqui{
        display: none;
    }

    #links nav a{
        margin-left: 15px;
        text-align: center;
    }

    #dark{
        width: 45px;
        margin-right: 10px;
    }

    

    main{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }


    #image_container{
        text-align: center;
    }

    #tryber{
        width: 250px;
        box-shadow: 3px -3px 3px  rgb(32, 87, 70);
        margin-bottom: 1rem;
    }

    #list-info{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        width: 200px;
        text-align: left;
    }

    #conselho{
        margin: auto;
        margin-bottom: 40px;
        width: 80%;
    }

}

